.inputCheck {
  appearance: none;
  border-radius: 4px;
  background: #fff;
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;

  &:checked::before {
    opacity: 1;
  }

  &::before {
    content: url('./check.svg');
    width: 30px;
    height: 30px;
    opacity: 0;
    transition: all 0.25s ease;
  }
}
