@import '../../assets/styles/variables';

.form {
  background-color: $dark-violet;
  .container {
    display: flex;
    justify-content: center;
    gap: 120px;

    @media (max-width: 999.8px) {
      gap: 30px;
    }

    @media (max-width: 767.8px) {
      flex-direction: column;
    }

    .formInputs {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .formSubmit {
      > div {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;
        max-width: 280px;

        @media (max-width: 767.8px) {
          max-width: 100%;
          width: 100%;
        }

        label {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #fff;

          a {
            text-decoration: none;
            color: $green;
          }
        }
      }
    }
  }
}
