@import '../../../assets/styles/variables';

.socialLink {
  width: 24px;
  height: 24px;
  background-color: $dark-violet;
  border-radius: 4px;
  transition: all 0.6s ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #0b84ee;
  }
}
